#jeu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1A1717;
    font-family: "Oswald", sans-serif;
    font-style: italic;
    margin: 0;
    margin-top: 15px;
}


#jeu .plateau {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#jeu .plateau .ligne {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#jeu .plateau .ligne .case {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    position: relative;  
    background-color: #231A7A;
    color: #231A7A;
 
}

#jeu .plateau .ligne .case:before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#jeu .plateau .ligne .case:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.pionred {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
    background-color: #231A7A;
    color: #231A7A;
}

.pionred:before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orangered;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pionyellow {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
    background-color: #231A7A;
    color: #231A7A;
}

.pionyellow:before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    display: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: orangered;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    font-family: "Oswald", sans-serif;
    font-style: italic;
  }
  
  .button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  }

  .control-container {
    width: 100%;
    text-align: center;
    margin: 20px auto;
  }
  
  .control-button {
    width: 100px;
    display: inline-block;
    margin: 7px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid dodgerblue;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  
  .control-button:hover {
    background-color: #444;
  }


.lien-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.lien-input {
    display: none;
    width: 500px;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-right: 10px;
}

.indicator {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.indicator-container {
    display: none;
    align-items: center;
    margin-bottom: 20px;
}

.indicator-container > div {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 50px;
    flex-direction: row;
}

.colorText {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}





  