<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../style/game.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <title>Puissance 4</title>
</head>
<body>

<playground>

</playground>


<footer class = "accueilFooter">
    <h3 id="createur">@author : <a style="color: aliceblue;" href="https://github.com/Orchanyne">Orchanyne</a></h3>
</footer>

<script src="../../js/client.js" type="module"></script>

</body>
</html>