<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../style/style-jeux.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="icon" href="../../images/fav4.ico" />
    <title>Puissance 4</title>
</head>
<body id="jeu">

<playground class="plateau">

</playground>


<div class="retour">
    <a href="/"><img src="../../images/retour.png" alt="retour"></a>
</div>

<script src="../../js/client.js" type="module"></script>
</body>
</html>