<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <link rel="stylesheet" type="text/css" href="/style/style-room.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="icon" href="../../images/fav4.ico" />
    <title>Accueil - Puissance 4</title>
</head>
<body>
<header class="accueilHeader">
  <div class="container">
    <div class="glitch" data-text="Puissance4">Puissance 4</div>
    <div class="glow">Puissance 4</div>
  </div>
  <div class="scanlines"></div>
</header>

<div id="position-room">
  <div class="room-carousel">
      
  </div>
</div>

<div id="buttonRetour">
  <a href="/" class="button">Retour</a>
</div>


<footer class = "accueilFooter">
  <h3 id="createur">@author : <a style="color: aliceblue;" href="https://github.com/benjamin-milhet">Benjamin MILHET</a></h3>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<!-- Slick CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>

<!-- Slick JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script>
const socket = io();

socket.emit('getRooms');

socket.on('rooms', (rooms) => {
 // Créer le template HTML pour une room
 function createRoomTemplate(room) {
  var username = $('#username').val();

    return `
      <div class="room-card">
        <h3><a href="/?username=${username}&roomId=${room.id}">${room.id}</a></h3>
        <p>${room.players.length} players</p>
      </div>
    `;
  }

  // Remplir le carrousel avec les données des rooms
  let $carousel = $('.room-carousel');
  rooms.forEach(room => {
    if (room.players.length < 2) $carousel.append(createRoomTemplate(room));
  });

  // Initialiser le carrousel avec slick.js
  $carousel.slick({
    arrows: true,
    dots: true,
    slidesToShow: 3,
    slidesToScroll: 2,
    autoplay: true,
    autoplaySpeed: 2000,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 2
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1
        }
      }
    ]
  });
});

</script>

</body>
</html>